<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FlowerStore.Properties.Settings.FlowerDB1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\FlowerDB1.accdb"
            providerName="System.Data.OleDb" />
        <add name="FlowerStore.Properties.Settings.flowerDBConnectionString"
            connectionString="Data Source=DESKTOP-147PK7T;Initial Catalog=flowerDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>